.icon-text {
  text-align: center;

  .icon {
    margin-bottom: 7px;
  }

  .title {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 300;
  }

  .info {
    font-size: 15px;
    font-weight: 500;
  }
}
